<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head') %>

  <body>
    <%- include('partials/_header'); %>
      <main class="input-form">
        <div>
          <form action="/products/new" method="POST">
            <div class="form-group">
              <h3>Create a new listing</h3>
              <label for="title">Item Name:</label>
              <input class="form-control" type="text" name="title" />
              <label for="img_url">Image URL:</label>
              <input class="form-control" type="text" name="img_url" />
              <label for="price">Price:</label>
              <input class="form-control" type="number" name="price" min="0.00" step="0.01"/>
              <label for="description">Description:</label>
              <textarea class="form-control" name="description" /></textarea>
              <label for="featured">Featured:</label>
              <input class="form-check-label check-box" type="checkbox" name="featured"/>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </main>

  </body>

</html>
