<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
  <%- include('partials/_header'); %>
  <main>
    <h1>New Products listing form will be shown on this page</h1>
  </main>

</body>

</html>
