<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
<body>
  <%- include('partials/_header'); %>
  <main style="margin: 1em">
    <h3>Create an account</h3>
    <br />
    <form action="/register" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          class="form-control"
          type="text"
          name="name"
          style="width: 300px"
        />
        <label for="email">Email:</label>
        <input
          class="form-control"
          type="email"
          name="email"
          style="width: 300px"
        />
        <label for="password">Password:</label>
        <input
          class="form-control"
          type="password"
          name="password"
          style="width: 300px; margin-bottom: 1em"
        />
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </main>
</body>

</html>
