main.unique-listing-info {
  article.unique-listing-details {
    padding: 2em 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    box-shadow: 2px 2px 5px 1px #7994af;
    font-size: 0.85em;

    div.unique-primary-info {
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      padding: 0 2em 0;

      img {
        height: auto;
      }

      div {
        padding: 5px 0px;
        display: flex;
        justify-content: space-between;
        background-color: rgba($color: #7994af, $alpha: 0.2);
      }

      span {
        padding: 0px 5px;
        font-weight: bold;
      }
    }

    p {
      padding: 10px 0 1em;
      max-width: 70ch;
    }
  }

  .unique-listing-buttons {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 5px;
    padding: 0 2em 0;

    button {
      background-color: rgba($color: #7994af, $alpha: 0.3);
      border-radius: 5px;
    }
  }
  .user-msg {
    font-size: 2em;
    align-self: flex-start;
    display: none;
  }

  .red {
    color: red;
  }
  .green {
    color: green;
  }
  .disabled-btn {
    background-color: gray;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
  }

  form {
    /* Center the form on the page */
    display: none;
    margin: 0 auto;
    margin-top: 1em;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    form li + li {
      margin-top: 1em;
    }

    label {
      /* Uniform size & alignment */
      display: inline-block;
      width: 90px;
    }

    input,
    textarea {
      /* To make sure that all text fields have the same font settings
         By default, textareas have a monospace font */
      font: 1em sans-serif;

      /* Uniform text field size */
      width: 300px;
      box-sizing: border-box;

      /* Match form field borders */
      border: 1px solid #999;
    }

    input:focus,
    textarea:focus {
      /* Additional highlight for focused elements */
      border-color: #000;
    }

    textarea {
      /* Align multiline text fields with their labels */
      vertical-align: top;

      /* Provide space to type some text */
      height: 5em;
    }

    .button {
      /* Align buttons with the text fields */
      padding-left: 90px; /* same size as the label elements */
    }

    button {
      /* This extra margin represent roughly the same space as the space
         between the labels and their text fields */
      margin-top: 0.5em;
      background-color: rgba($color: #7994af, $alpha: 0.3);
      border-radius: 5px;
    }
  }

  @media (min-width: 500px) {
    article.unique-listing-details {
      font-size: 1rem;
      width: 75%;
      max-width: 600px;
    }
  }
}
