main.unique-listing-info {
  article.unique-listing-details {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    div.unique-primary-info {
      width: 100%;
      max-width: 500px;
      display: flex;
      flex-direction: column;

      img {
        height: auto;
      }

      div {
        padding: 5px 0px;
        display: flex;
        justify-content: space-between;
        border: 2px solid black;
      }

      a {
        padding: 0px 5px;
        font-weight: bold;
      }
    }

    p {
      padding: 10px 0 1em;
      max-width: 70ch;
    }
  }

  .unique-listing-buttons {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 5px;

    button {
      background-color: rgba($color: #7994af, $alpha: 0.3);
      border-radius: 5px;
    }
  }
  .user-msg {
    font-size: 2em;
    align-self: flex-start;
    display: none;
  }

  .red {
    color: red;
  }
  .green {
    color: green;
  }
  .disabled-btn {
    background-color: gray;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
  }
}
